.cardadj{flex-direction: row;
    border: unset;
height: 69vh;}
    .datatable-crud-demo{
        background-color: white;
    }
.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-datatable .p-datatable-header{
    background-color: white;
}
.marauto{margin-left: auto;}
.adjdivs{display: flex;
flex-direction: row;}
.tableadj{
    overflow-x: hidden;
    overflow-y: auto;
}

.create-tag{
    margin-top: 10px;
}

.tag-segment{
    padding: 5px 15px 15px 20px;
}

.pad-left{
    padding-left: 131px;
}

.newtag {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tag-new{
    padding-bottom: 10px;
    padding-top: 7px;
}

.head-tag {
    padding: 15px 25px 5px 20px;
}